/* Reset básico */
* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Header */
  header {
    background-color: #010649;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 119px;
    flex-wrap: wrap;
  }
  
  header img {
    height: 70px;
  }
  
  .menu ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s ease;
  }
  
  .menu a:hover {
    color: #eea800;
  }
  
  .menu img {
    height: 20px;
  }
  
  .buttons-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .buttons-header a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 5px;
    transition: 0.5s;
  }
  
  .bt-hd-1 {
    background-color: #eea800;
  }
  
  .bt-hd-2 {
    background-color: #58b660;
  }
  
  .bt-hd-1:hover {
    background-color: #ffcc00;
    transform: translateY(-2px);
  }
  
  .bt-hd-2:hover {
    background-color: #6cd373;
    transform: translateY(-2px);
  }
  

/* carrossel frase */
/*
.frase-animada {
  position: fixed;
  top: 0;
  left: 100%;
  width: auto;
  white-space: nowrap;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  background-color:transparent;
  padding: 8px 16px;
  border-radius: 8px;
  z-index: 9999;
  animation: moverFrase 15s linear infinite;
  font-weight: 100;
}

@keyframes moverFrase {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
*/


  /* Capa - Carousel */
  .capa {
    margin-top: 5px;
  }
  
  .carousel-inner img {
    height: auto;
    object-fit: cover;
  }
  
  .carousel-indicators li {
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 5px;
  }
  
  .carousel-indicators .active {
    background-color: #007bff;
  }
  
  /* Responsivo - Mobile */
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 20px;
    }
  
    .menu ul {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .buttons-header {
      width: 100%;
      align-items: center;
      margin-top: 10px;
    }
  
    .buttons-header a {
      width: 100%;
      text-align: center;
    }
  
    .menu a {
      font-size: 16px;
    }
  }
  

  /* seminovos*/

  .carrosel-barcos{
    margin-top: 15px;
  }
  
  .carrosel-barcos h2{
      text-align: center;
      font-weight: bold;
      color: #010649;
  }
  
  .carrosel-barcos .line {
    width: 70%;
    height: 1px;
    background-color: #010649;
    margin: 0 auto 30px auto;
    border-radius: 5px;
  }


  .carrossel-container {
    position: relative;
    max-width: 1200px;
    margin: 40px auto;
    overflow: hidden;
  }
  
  .carrossel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
  }
  
  .card-barco {
    min-width: calc((100% / 3) - 20px);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .card-barco img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .info {
    padding: 15px;
  }
  
  .sku {
    color: #888;
    font-size: 0.9em;
  }
  
  .motor, .preco {
    margin: 5px 0;
  }
  
  .line-detalhes {
    border-top: 1px solid #ddd;
    margin: 10px 0;
  }
  
  .detalhes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 0.85em;
  }
  
  .detalhes span {
    flex: 1 1 45%;
  }
  
  .btn-nav {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(255,255,255,0.9);
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
  }
  
  .btn-nav.left {
    left: 10px;
  }
  
  .btn-nav.right {
    right: 10px;
  }
  
.button-ft-sm{
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
}

  .button-ft-sm a{
    background-color: #010649;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 12px rgba(1, 6, 73, 0.2);
  }
  
  .button-seminovos:hover {
    background-color: #0a1172;
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(1, 6, 73, 0.4);
    text-decoration: none;
    color: #ffcc00;
  }

  .button-ft-nv{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
  }
  
    .button-ft-nv a{
      background-color: #010649;
      color: #fff;
      padding: 12px 24px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 4px 12px rgba(1, 6, 73, 0.2);
    }
    
    .button-seminovos:hover {
      background-color: #0a1172;
      transform: translateY(-2px);
      box-shadow: 0 6px 16px rgba(1, 6, 73, 0.4);
      text-decoration: none;
      color: #ffcc00;
    }

    /* Aside seção */

    .empresa {
      max-width: 1200px;
      margin: 0 auto;
      padding: 40px 20px;
    }
    
    .empresa-topo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;
      margin-bottom: 50px;
    }
    
    .empresa-logo img {
      max-width: 300px;
      height: auto;
    }
    
    .empresa-texto {
      max-width: 600px;
      font-size: 16px;
      line-height: 1.6;
    }
    
    .empresa-locais {
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .card-local {
      border: 1px solid #ccc;
      padding: 20px;
      width: 500px;
      text-align: left;
      border-radius: 8px;
      box-shadow: 0 0 10px #00000010;
    }
    
    .card-local h3 {
      color: #001263;
      font-size: 25px;
      font-weight: 1000;
      margin-bottom: 10px;
    }

    
    .card-local p {
      margin-bottom: 10px;
      font-size: 1.2em;
    }

    
    .img-local-lugar {
      width: 100%;
      height: auto;
      border-radius: 6px;
    }
    
    .icon-local {
     width: 6%;
     height: auto;
     margin-right: 6px;
     vertical-align: middle;
}



    /* footer */

    .footer {
      background-color: #000c50;
      color: white;
      padding: 40px 20px 20px;
      font-family: Arial, sans-serif;
    }
    
    .footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 1200px;
      margin: 0 auto;
      border-bottom: 1px solid #ffffff30;
      padding-bottom: 30px;
    }
    
    .footer-logo img {
      max-width: 500px;
    }
    
    .footer-info {
      margin-left: 25%;
      flex: 1;
      min-width: 260px;
      margin-top: 20px;
    }
    
    .footer-line {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      flex-wrap: wrap;
      gap: 10px;
    }
    
    .icon-img {
      width: 18px;
      height: 18px;
    }
    
    .footer-social {
      margin-top: 20px;
    }
    
    .footer-social p {
      margin-bottom: 8px;
      font-weight: bold;
    }
    
    .social-icons {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
    
    .social-icons img {
      width: 20px;
      height: 20px;
      transition: transform 0.3s;
    }
    
    .social-icons img:hover {
      transform: scale(1.2);
    }
    
    .footer-copy {
      text-align: center;
      padding-top: 20px;
      font-size: 14px;
      color: #ccc;
    }
  


    /* scrol automatico*/

    section, footer, aside {
      scroll-margin-top: 100px; /* Ajuste conforme a altura do header */
    }


    /* zap */

    .whatsapp-fixo {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 999;
    }
    
    .whatsapp-fixo img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      box-shadow: 0 4px 8px rgba(0,0,0,0.3);
      transition: transform 0.3s ease;
    }
    
    .whatsapp-fixo img:hover {
      transform: scale(1.1);
    }

    .line{
      width: 70%;
      height: 1px;
      background-color: #010649;
      margin: 0 auto 30px auto;
      border-radius: 5px;
    }


    /* RESPONSIVO */

    /* Responsivo - Mobile */
/* Responsivo - Mobile */
@media (max-width: 768px) {

  /* Header */
  header {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
  }

  .menu ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .buttons-header {
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }

  .buttons-header a {
    width: 100%;
    text-align: center;
  }

  .menu a {
    font-size: 16px;
  }

  /* Frase animada */
  .frase-animada {
    font-size: 0.8rem;
    padding: 6px 12px;
    top: 0;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  @keyframes moverFrase {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-150vw);
    }
  }

  /* Carrossel de barcos - ajustes para cards menores */
  .carrossel {
    gap: 10px;
    padding: 10px;
  }

  .card-barco {
    min-width: 85%;
    max-width: 90%;
    height: auto;
  }

  .card-barco img {
    height: 150px;
  }

  .info {
    padding: 10px;
  }

  .motor, .preco {
    font-size: 0.9em;
  }

  .detalhes {
    font-size: 0.8em;
  }

  /* Empresa */
  .empresa-topo {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .empresa-logo img {
    max-width: 200px;
  }

  .empresa-texto {
    max-width: 100%;
    font-size: 14px;
  }

  .empresa-locais {
    gap: 20px;
  }

  .card-local {
    width: 90%;
  }

  /* Botões "Ver mais" ajustados */
  .button-ft-sm a, .button-ft-nv a {
    font-size: 14px;
    padding: 10px 20px;
  }

  /* Footer */
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-info {
    margin-left: 0;
    margin-top: 20px;
  }

  .footer-logo img {
    max-width: 300px;
  }

  .social-icons {
    justify-content: center;
  }

  /* WhatsApp fixo */
  .whatsapp-fixo img {
    width: 50px;
    height: 50px;
  }

}
